# Android 构建产物
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

# App 构建产物
app/build/

# Kotlin（本项目用 Java，但以防万一）
*.kotlin_module

# 系统文件
Thumbs.db
